USE [master]
GO
/****** Object:  Database [Bookss]    Script Date: 03/09/2018 14:03:01 ******/
CREATE DATABASE [Bookss] ON  PRIMARY 
( NAME = N'Bookss', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Bookss.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bookss_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Bookss_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookss]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 03/09/2018 14:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] NOT NULL,
	[TenTacGia] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TacGia] ([MaTG], [TenTacGia], [DiaChi]) VALUES (1, N'ABC', N'Hà Nội')
INSERT [dbo].[TacGia] ([MaTG], [TenTacGia], [DiaChi]) VALUES (2, N'XYZ', N'Hà Nam')
/****** Object:  Table [dbo].[Sach]    Script Date: 03/09/2018 14:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[SoLuong] [int] NULL,
	[MaTG] [int] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [Gia], [SoLuong], [MaTG]) VALUES (1, N'Dế mèn ', 5000, 10, 1)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [Gia], [SoLuong], [MaTG]) VALUES (2, N'Dế to', 6000, 10, 2)
/****** Object:  ForeignKey [FK_Sach_TacGia]    Script Date: 03/09/2018 14:03:03 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
