USE [master]
GO
/****** Object:  Database [Custom]    Script Date: 03/09/2018 00:33:27 ******/
CREATE DATABASE [Custom] ON  PRIMARY 
( NAME = N'Custom', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Custom.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Custom_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Custom_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Custom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Custom]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 03/09/2018 00:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Makh] [nvarchar](50) NOT NULL,
	[Matkhau] [nvarchar](50) NULL,
	[Hovaten] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Dienthoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Makh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([Makh], [Matkhau], [Hovaten], [Email], [Dienthoai]) VALUES (N'ph1', N'456', N'678', N'987@gmail.com', N'123')
INSERT [dbo].[Customer] ([Makh], [Matkhau], [Hovaten], [Email], [Dienthoai]) VALUES (N'ph2', N'123', N'doan', N'doan@gmail.com', N'123')
INSERT [dbo].[Customer] ([Makh], [Matkhau], [Hovaten], [Email], [Dienthoai]) VALUES (N'ph8', N'987', N'doannv', N'doannv@gmail.com', N'0167')
